<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario Conductor</title>
    <meta charset="UTF-8">
</head>
<body>

    <h1>Formulario de Conductor</h1>

    <form th:action="@{/conductor/guardar}" th:object="${conductor}" method="post">

        <input type="hidden" th:field="*{idConductor}"/>

        <label>Estado (true/false):</label>
        <input type="text" th:field="*{estadoConductor}" required><br><br>

        <label>Nombre:</label>
        <input type="text" th:field="*{nombre}" required><br><br>

        <label>Apellido:</label>
        <input type="text" th:field="*{apellido}" required><br><br>

        <label>Licencia:</label>
        <input type="text" th:field="*{licencia}" required><br><br>

        <label>Email:</label>
        <input type="email" th:field="*{email}" required><br><br>

        <button type="submit">Guardar</button>
    </form>

    <a th:href="@{/conductor/lista}">Volver</a>

</body>
</html>
