<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Vehículos</title>
</head>
<body>

    <h1>Vehículos Registrados</h1>

    <a href="/vehiculos/nuevo">Registrar Nuevo Vehículo</a>
    <br><br>

    <table border="1" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>Patente</th>
            <th>Modelo</th>
            <th>Color</th>
            <th>Estado</th>
            <th>Tipo</th>
        </tr>

        <tr th:each="v : ${vehiculos}">
            <td th:text="${v.idVehicle}"></td>
            <td th:text="${v.patente}"></td>
            <td th:text="${v.modelo}"></td>
            <td th:text="${v.color}"></td>
            <td th:text="${v.estadoVehicle}"></td>
            <td th:text="${v.tipoVehiculo}"></td>
        </tr>
    </table>

</body>
</html>
